<% question_counter = 1 %>
<% @survey.questions.each do |question| %>
<div class="<%=question_counter%>">
<h2 id="<%=question_counter%>"><%= question.content %></h2> <small>Times answered(<%= question_count(question)%>)</small><br>

<ul>
<% question.choices.each do |choice| %>
<li>
  <span id="choice-content"><%= choice.content %> </span> - <span id="choice-percent"><%=((choice.answers.count / question_count(question).to_f)* 100).round(2)%></span> %
</li>
<% end %>
<li><a href="#" class="graph-button" id="1"> Show Graph</a></li>
<ul>
</div>
<div id="graphdiv">
</div>
<% question_counter += 1 %>
<% end %>

<div id="graphdiv">
</div>
